{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact">
    <h1>Do you want to tell me something?</h1>
    <h3>Please use the form below</h3>
    <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        <div class="control">
            <label >Your name:</label>
            {{form.name}}
        </div>
        <div class="control">
            <label >Your email:</label>
            {{form.email}}
        </div>
        <div class="control">
            <label >Your message:</label>
            <br>
            {{form.message}}
        </div>
        <button type="submit">Send message</button>
    </form>
</div>
{% endblock %}
